<div *ngIf="selectedCountry">
  <h3>
    Selected country: {{ selectedCountry.name }} ({{
      selectedCountry.nativeName
    }})
  </h3>
  <label>Capital:</label>
  <p>{{ selectedCountry.capital }}</p>
  <label>Population:</label>
  <p>{{ selectedCountry.population }}</p>
  <label>Currencies: </label>
  <ul>
    <li
      *ngFor="let currency of selectedCountry.currencies"
      class="list-group-item clearfix"
      style="width: fit-content;"
    >
      {{ currency.code }} - {{ currency.name }} ({{ currency.symbol }})
    </li>
  </ul>
  <label>Languages: </label>
  <ul>
    <li
      *ngFor="let language of selectedCountry.languages"
      class="list-group-item clearfix"
      style="width: fit-content;"
    >
      {{ language.name }} ({{ language.nativeName }})
    </li>
  </ul>
  <img
    [src]="selectedCountry.flag"
    class="img-responsive"
    style="max-height: 200px;"
  />
</div>
