<div *ngIf="selectedCountry; else elseBlock">
  <div class="row">
    <div class="col-md-4">
      <h3>
        {{ selectedCountry.name }}
        <small class="text-muted">({{ selectedCountry.nativeName }})</small>
      </h3>
      <p>Capital: {{ selectedCountry.capital }}</p>
      <p>Population: {{ selectedCountry.population }}</p>
      <button
        #toggleMapBtn
        class="btn btn-primary"
        (click)="onToggleMap()"
        style="margin-bottom: 15px;"
      >
        {{ !showMap ? "Open map" : "Close map" }}
      </button>
      <img
        [src]="selectedCountry.flag"
        class="img-responsive rounded mx-auto d-block"
        style="max-height: 200px;"
      />
    </div>
    <div class="col-md-4">
      <ul>
        <li
          class="list-group-item list-group-item-dark clearfix"
          style="font-weight: bold;"
        >
          Currencies:
        </li>
        <li
          *ngFor="let currency of selectedCountry.currencies"
          class="list-group-item clearfix"
        >
          {{ currency.code }} - {{ currency.name }} ({{ currency.symbol }})
        </li>
      </ul>

      <ul>
        <li
          class="list-group-item list-group-item-dark clearfix"
          style="font-weight: bold;"
        >
          Languages:
        </li>
        <li
          *ngFor="let language of selectedCountry.languages"
          class="list-group-item clearfix"
        >
          {{ language.name }} ({{ language.nativeName }})
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li
          class="list-group-item list-group-item-dark clearfix"
          style="font-weight: bold;"
        >
          Bordering countries:
        </li>
        <li
          *ngFor="let border of selectedCountry.borders"
          class="list-group-item clearfix"
        >
          {{ border }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row" #map>
    <div class="col-md-12" *ngIf="showMap">
      <!-- Map component -->
      <app-osm-view [centeredCapital]="selectedCountry.capital"></app-osm-view>
    </div>
    <hr />
  </div>
</div>

<ng-template #elseBlock>
  <h4>Please select a country!</h4>
</ng-template>
